body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff6ec7, #f7b7a3, #ffcc00, #6eff6e, #00b0ff);
    background-size: 300% 300%;
    animation: backgroundMove 10s ease infinite;
    overflow: hidden;
}

@keyframes backgroundMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    position: relative;
    width: 100%; 
    height: 100%; 
    max-width: 600px; 
    max-height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.color-display {
    width: 20%;
    height: 20%;
    border: 4px solid #000;
    border-radius: 15px;
    z-index: 10;
    background-color: transparent;
}


.colors {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.correct {
    animation: correctAnimation 0.5s ease-out;
}

@keyframes correctAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}


.color-option {
    width: 15%; 
    height: 15%;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    transition: transform 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.color-option:hover {
    transform: scale(1.2);
    border-radius: 50%;
}


.color-option.incorrect::before {
    content: 'X'; 
    color: red;
    font-size: 2rem; 
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

@keyframes rotateColorsClockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotateColorsCounterClockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.colors.clockwise {
    animation: rotateColorsClockwise 10s linear infinite;
}

.colors.counterclockwise {
    animation: rotateColorsCounterClockwise 10s linear infinite;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .color-display {
        width: 20%; 
        height: 17%;
    }

    .color-option {
        width: 15%; 
        height: 13%;
    }

    .color-option.incorrect::before {
        font-size: 1.5rem; 
    }
}
